@model TransaccionesViewDTO
@{
    var resumen = new ResumenMontosDTO()
            {
                Ingresos = Model.Ingresos,
                Gastos = Model.Gastos,
                Total = Model.Total
        };
}
<partial name="_NavegarPorMeses" model="@ViewBag.fechaActual" />
<partial name="_ResumenMontos" model="resumen" />
<table class="table">
    <thead>
    <th></th>
    <th>
        Categoria
    </th>
    <th>
        Nota
    </th>
    <th>
        Monto
    </th>
    <th>
        Fecha
    </th>
    </thead>
    <tbody>
        @foreach (var transaccion in Model.transacciones)
        {
            <tr>
                <td>
                    <a asp-action="Editar" asp-controller="Transacciones" asp-route-id="@transaccion.Id"><i class="bi-pencil-fill"></i></a>
                </td>
                <td>
                    @transaccion.NombreCategoria
                </td>
                <td>
                    @transaccion.Nota
                </td>
                <td>
                    @transaccion.Monto
                </td>
                <td>
                    @transaccion.FechaTransaccion.ToShortDateString();
                </td>
            </tr>
        }
    </tbody>
</table>
