@model IEnumerable<TransaccionDTO>
<h4>
    <a asp-route-mes="@ViewBag.mesAnterior" asp-route-año="@ViewBag.añoAnterior" class="btn btn-secondary"><i class="bi-chevron-left"></i></a>
    @ViewBag.fechaActual.ToString("MMM-yyy")
    <a asp-route-mes="@ViewBag.mesPosterior" asp-route-año="@ViewBag.añoPosterior" class="btn btn-secondary"><i class="bi-chevron-right"></i></a>
</h4>
<table class="table">
    <thead>
    <th></th>
    <th>
        Categoria
    </th>
    <th>
        Nota
    </th>
    <th>
        Monto
    </th>
    <th>
        Fecha
    </th>
    </thead>
    <tbody>
        @foreach (var transaccion in Model)
        {
            <tr>
                <td>
                    <a asp-action="Editar" asp-controller="Transacciones" asp-route-id="@transaccion.Id"><i class="bi-pencil-fill"></i></a>
                </td>
                <td>
                    @transaccion.NombreCategoria
                </td>
                <td>
                    @transaccion.Nota
                </td>
                <td>
                    @transaccion.Monto
                </td>
                <td>
                    @transaccion.FechaTransaccion.ToShortDateString();
                </td>
            </tr>
        }
    </tbody>
</table>
